---
import BtnHome from "../components/btn_home.astro";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
 
---

<Layout title="JUAMAYA | Blog">
  <main>
    <p class="instructions">
      <strong>BLOG</strong>
    </p>
<div class="grid grid-cols-2 gap-5">
  <Card href="/posts/post " title="Astronomía" />
  <Card href="/posts/post-1 " title="Artificial Intelligence" />

</div>
<ul>
  <li><a class="text-white" href="/posts/post-1">Publicación 1</a></li>
  <li><a class="text-white" href="/posts/post">Publicación 2</a></li>
 
</ul> 

    <BtnHome />
  </main>
</Layout>

<style>
  main {
    width: 90%;
    text-align: center;
    background-color: rgb(25, 24, 24);
    margin: auto;
  }

  .instructions {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }

  .instructions strong {
    color: rgb(var(--accent-light));
  }
</style>
