<section class="container">
  <ul class="grid  grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <li>
      <a href="https://uiverse.io/" target="_blank">uiverse </a>"
    </li>
    <li>
        <a href="https://www.blackbox.ai/" target="_blank">blackbox </a>"
      </li>

      <li>
        <a href="https://sweetalert2.github.io/" target="_blank">sweetalert2</a>"
      </li>
      <li>
        <a href="https://recursos.cuarzo.dev/" target="_blank">recursos.cuarzo </a>"
      </li>
      <li>
        <a href="https://readme.so/es" target="_blank">markdown</a>"
      </li>

      <li>
        <a href="https://smalldev.tools//" target="_blank">smalldev </a>"
      </li>
      <li>
        <a href="https://github.com/mattboldt/typed.js" target="_blank">typed  </a>"
      </li>

      <li>
        <a href="https://www.pexels.com/es-es/" target="_blank">pexels </a>"
      </li>
      <li>
        <a href="https://unsplash.com/es" target="_blank">unsplash </a>"
      </li>
      <li>
        <a href="https://undraw.co/illustrations" target="_blank">undraw </a>"
      </li>

      <li>
        <a href="https://scrollrevealjs.org/" target="_blank">scrollrevealjs</a>"
      </li>

      <li>
        <a href="https://123apps.com/es/" target="_blank">123apps </a>"
      </li>

      <li>
        <a href="https://omatsuri.app/" target="_blank">omatsuri </a>"
      </li>

      <li>
        <a href="https://fonts.google.com/" target="_blank">fonts.google </a>"
      </li>
      <li>
        <a href="https://uigradients.com/#BrokenHearts" target="_blank">uigradients </a>"
      </li>

      <li>
        <a href="https://tinypng.com/" target="_blank">tinypng </a>"
      </li>



  </ul>
</section>

<style>
  .container {
    margin : 2rem;
    text-align: start;
    width:90%;
  }
  a {
    color: #fff;
    font-size: xx-large;
  }
  a:hover {
    color:blue;
    font-size: xx-large;
  }
 
</style>
